.contenedorPrincipal{
    position: relative;
    top: 90px;
}
.contenedor{
    position: relative;
    left: 70%;
}
.titulo{
    position: relative;
    left: 70%;
}
.cuenta{
    position: relative;
    left: 70%;
}