
.administradores{
    left: 170%;
    justify-content: center;
    align-items: center;
    display: flex;
}
.estudiantes{
    left: 50%;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 50%;
}
.titulo{
    text-align: center;
    margin-top: 10%;
}
.btnInicioEstudiantes,.btnInicioAdministradores{
    
}