
.administradores{
    left: 170%;
    justify-content: center;
    align-items: center;
    display: flex;
    top: -115px;
}
.estudiantes{
    left: 50%;
    justify-content: center;
    align-items: center;
    display: flex;
    top: 50px;
}
.titulo{
    text-align: center;
    margin-top: 10%;
    
    
    
}
.btnInicioEstudiantes,.btnInicioAdministradores{
border-radius: 100px;
border-radius: 50px;

}
.textobtn:hover{
    text-decoration: none;
}
